
<div [routerLink]="['/quick/howtos/',howto.link]" class="card mb-4 wcard shadow">
  <img width="300" class="card-img-top wcardpic img-fluid" [src]="howto.img" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">{{capitalizeFirstLetter(howto.name)}}</h2>
    <p class="card-text">{{howto.description}}</p>
    <a [routerLink]="['/quick/howtos/',howto.link]" class="btn btn-outline-info">Read More &rarr;</a>
  </div>
<!--  <div class="card-footer text-muted">-->
<!--      Posted on {{howto.published}} by-->
<!--      <a href="#">{{howto.created_by}}</a>-->
<!--    </div>-->
</div>

