<div class="container-fluid min-vh-100">
  <div class="blog-home">
    <div class="row">
      <div class="col-md-1"></div>
      <!-- Blog Entries Column -->
      <div class="col-md-9 blog-home p-4">
        <p><a [routerLink]="['/home']">Home</a> > <a [routerLink]="['/quick/howtos']">How-To</a></p>
        <h3 class="my-4">{{title}}
          <small>blog.WebTuitor</small>
        </h3>
        <!-- Blog Post -->
        <div [routerLink]="['/quick/howtos/',howto.link]" *ngFor="let howto of howtos" class="card mb-4 wcard shadow">
          <img width="300" class="card-img-top wcardpic img-fluid" [src]="howto.img" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{strService.capitalizeFirstLetter(howto.name)}}</h2>
            <p class="card-text">{{howto.description}}</p>
            <a [routerLink]="['/quick/howtos/',howto.link]" class="btn btn-outline-info">Read More &rarr;</a>
          </div>
          <!-- <div class="card-footer text-muted">
              Posted on {{howto.published}} by
              <a href="#">{{howto.created_by}}</a>
            </div> -->
        </div>
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item mr-5">
            <a class="page-link" href="#">&larr; Prev</a>
          </li>
          <li class="page-item disabled ml-5">
            <a class="page-link" href="#">Next &rarr;</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.container -->
