<div class="container-fluid">
  <p class="ml-1 mt-3"><a [routerLink]="['/home']">Home</a> > <a [routerLink]="['/about']">About</a></p>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mb-5">
      <!-- Title -->
      <h3 class="card-header bg-info text-white mb-3">
        WebTuitor.com
      </h3>
      <!-- Author -->
      <p class="lead">
        Created with the sole purpose of bringing IT learning to the homes
      </p>
      <hr>
      We believe that everyone has the right to learning whatever, whenever and wherever they may be.
      WebTuitor makes it easy for you and it's primarily free
      <hr>
      <h3>Onukpai Woohe street</h3>
      <h4>Adjringanor</h4>
      <h4>East Legon</h4>
      <hr>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
