<div class="container min-vh-100">

  <div class="row">
    <!-- <div class="col-md-1"></div> -->
    <!-- Post Content Column -->
    <div class="col-lg-8 blog-post p-4">
      <p><a [routerLink]="['/home']">Home</a> > <a [routerLink]="['/quick/howtos']">How-To</a> > <a
          [routerLink]="['/quick/howtos',howto?.id]">{{howto?.title}}</a></p>
      <!-- Title -->
      <h1 class="mt-4">{{capitalizeFirstLetter(howto?.title)}}</h1>
      <div class="row">
        <div class="col-md-6">
          <span class="lead " *ngIf="howto?.user?.name">
            <small>By:
              <a href="#">{{howto?.user?.name}}</a>
            </small>
          </span>
        </div>
        <div class="col-md-6">
          <span class="float-sm-right"><strong>Posted on:</strong> <small><em> {{howto?.created_at | date: 'longDate'}}</em></small></span>
        </div>
      </div>
      <hr>
      <p *ngIf="howto?.title">Also see: <a
          [routerLink]="[determineRelatedUrl(), related?.id]">{{capitalizeFirstLetter(related?.title)}}
      </a></p>
      <hr>

      <img width="400" class="img-fluid rounded" [src]="howto?.imageUrl" alt="image">

      <hr>

      <div class="content" [innerHTML]="howto?.content"></div>

    </div>

    <!-- Sidebar Widgets Column
      <div class="col-md-4 sd">
        <app-sidebar></app-sidebar>
      </div> -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
