.card {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
    background-color: #eeeeee;
}
.card-group {
    border: 1px solid #dedede;
    padding: 0;
}
.card:last-child {
    margin-bottom: 0;
}
.card {
    border-top: none !important;
    border:  none;
    margin: 5px !important;
}
.card:hover {
    background: #d6d6d6;
    transition: all 1.1s ease;
    -webkit-transition: all 1.1s ease;
    /* -webkit-transition: background-color 0.8s;
  -moz-transition: background-color 0.8s;
  -o-transition: background-color 0.8s;
  transition: background-color 0.8s; */
}

@media only screen and (min-width: 720px) {
    .card {
        border-top: none !important;
    }
    .card-group {
        border: none;
    }
}