<!-- <blog-navbar></blog-navbar> -->
<!-- Page Content -->
<div class="container-fluid">
  <div class="blog-home">
    <div class="row">
      <div class="col-md-1">
       
      </div>
      <!-- Blog Entries Column -->
      <div class="col-md-9 blog-home p-4">
        <p><a [routerLink]="['/home']">Home</a> > <a [routerLink]="['/learn/courses']">Courses</a></p> 
        <h3 class="my-4">Popular Post
          <small>blog.WebTuitor</small>
        </h3>
        <div *ngFor="let course of courses" class="card mb-4 wcard shadow">
          <img  class="card-img-top wcardpic img-fluid" [src]="course.img" alt="card image cap">
          <div class="card-body">
            <h2 class="card-title">{{strService.capitalizeFirstLetter(course.name)}}</h2>
            <p class="card-text">{{strService.concatString(course.description,100)}}</p>
            <a [routerLink]="['/learn/courses/',course.link]" class="btn btn-outline-info">Read More &rarr;</a>
          </div>
          <!-- <div class="card-footer text-muted">
            Posted on {{course.published}} by
            <a href="#">{{course.created_by}}</a>
          </div> -->
        </div>
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-5 mt-5">
          <li class="page-item mr-5">
            <a class="page-link" href="#">&larr; Prev</a>
          </li>
          <li class="page-item disabled ml-5">
            <a class="page-link" href="#">Next &rarr;</a>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <!-- <div class="col-md-4 sd">
        <app-sidebar></app-sidebar>
      </div> -->

    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.container -->
