<div  class="container">
  <p class="ml-1 mt-3"><a [routerLink]="['/home']">Home</a> > <a [routerLink]="['/guidance/find-a-mentor']">Find A
      Mentor</a> > <a [routerLink]="['/guidance/find-a-mentor',mentor.login]">{{mentor.login}}</a></p>

  <div class="row">
    <div class="col-md-4">
      <div class="sticky-top shadow-sm">
        <div class="card my-4 ">
          <h3 class="bg-primary text-center p-2 text-white">
            <span><small>Mentor:</small></span> <br><span
              class="font-weight-bold">{{mentor.name}}</span>
          </h3>
          <p class="text-center m-0 "><small><span class="text-info font-weight-bold">&uArr; </span><span>{{mentor.followers}}</span>
              <span class="text-danger font-weight-bold"> &dArr; </span><span>{{mentor.following}}</span></small></p>
          <hr class="">
          <div class="card-body px-0">
            <div class="row">
              <div class="col-lg-12 text-center">
                <img class="img-fluid rounded-circle" [src]="mentor.avatar_url" alt="mentor's picture">
                <h4 class="p-2 font-weight-bold">{{mentor.location}}</h4>
                <p class="bg-light p-3 "><a [href]="mentor.html_url">{{mentor.html_url}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6 mb-5">
      <div class="border rounded p-3 mt-4 bg-light shadow">
        <h3 class="font-weight-bold text-primary">ChatBox</h3><span><small>{{strService.getDateTime()}}</small></span>
        <!-- | <span id="cTime"></span> -->
        <hr>
        <br><br><br><br><br><br><br><br><br>
        <div id="chat"></div>
        <div  class="card my-4 ">
          <div class="card-body">
            <form #chatForm="ngForm" (ngSubmit)="sendChat(chatForm.value)" autocomplete="off" novalidate>
              <div class="form-group mb-1">
                <textarea (ngModel)="chatIn" name="chatIn" id="chatIn" class="form-control mb-0" rows="2"
                  required></textarea>
              </div>
              <span (mouseenter)="mouseoverlogin=true" (mouseleave)="mouseoverlogin=false">
                <button [disabled]="chatForm.invalid" id="send" type="submit" class="btn btn-primary">Send
                  &rarr;</button>
                  <em *ngIf="chatForm.controls.chatIn?.invalid && (chatForm.controls.chatIn.touched || mouseoverlogin) "
                  class="text-danger mb-2"><small class="float-right">can't send empty chat</small></em>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
