<div class="sidebar sticky-top">

    <!-- Search Widget -->
    <div class="card my-4">
        <!-- <h5 class="card-header">Search</h5> -->
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-append">
                    <button class="btn btn-danger" type="button">Search!</button>
                </span>
            </div>
        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Top Reads</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyle mb-0">
                        <li class="p-2">
                            <a href="#">How to upgrade to windows 10</a>
                        </li>
                        <li class="p-2">
                            <a href="#">How to setup potmand to test APIs</a>
                        </li>
                        <li class="p-2">
                            <a class="card-link" href="#">Integrating your Blog with adsense</a>
                        </li>
                        <li class="p-2">
                            <a href="#">The power of prayer to the believer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header">Subscribe</h5>
        <div class="card-body">
           <p class="mb-3">Subscribe to get alert for our latest posts</p>
           <div class="input-group">
            <input type="text" class="form-control" placeholder="Email address...">
            <span class="input-group-append">
                <button class="btn btn-danger" type="button">Submit!</button>
            </span>
            
        </div>
        </div>
    </div>

</div>