.top-header {
  height: 56px;
}

#main-logo {
  display: block;
  margin: 0 auto !important;
  margin-bottom: 10px !important;
}

nav {
  background: #3a3d85;
  padding: 0 0 0px 15px;
  border-bottom: solid 0.1px #555 !important;
}

#top-search-box input[type='text'] {
  border: none;
  font-size: 18px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #f0e8e8;
}

#top-search-box input[type='text']:hover,
#top-search-box input[type='text']:focus {
  background-color: #fff;
}

#top-search-box {
  border-radius: 0% !important;
  background: #3a3d85 !important;
  display: block !important;
  border-radius: 2%;
  border-color: #aaa;
}

@media only screen and (max-width: 719px) {
  #search-go {
    margin-right: 5px !important;
  }
}

.ml-auto a {
  padding: 10px 10px;
  margin-right: 25px;
  color: #fefefe !important;
  text-shadow: #382a2a;
}

.ml-auto a.nav-link:hover {
  color: #d8d6e2 !important;
}

.ml-auto a.Active {
  margin-bottom: 0;
  border-bottom: solid 2px #fefefe !important;
  color: #acacac !important;
  font-weight: 600;
}

.ml-auto {
  padding: 2px 15px !important;
  font-weight: 500;
  margin-top: 0 5px;
}

.dropdown-menu {
  background: rgb(250, 250, 250);
  padding: 5px 0px 20px 0px;
  color: #333;
  width: 250px !important;
  border: none;
  -webkit-box-shadow: 5px 10px 10px #555;
  -moz-box-shadow: 5px 10px 10px #555;
  box-shadow: 5px 10px 10px #555;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown .dropdown-menu li {
  padding: 10px 0 10px 10px;


}

.dropdown .dropdown-menu li a {
  color: #333 !important;
}

.dropdown .dropdown-menu li:hover {
  margin: 0;
  background-color: #dedede;

}

.dropdown .dropdown-menu a:hover {
  text-decoration: none;

}
#dropdownMenu  {
  /* display: block; */
  width: 3px!important;
  overflow: hidden!important;
  background-color: #3a3d85!important;
  ;
}
#dropdownMenu a {
  color: #fefefe!important
}
#dropdownMenu a:hover {
  color: #333!important;
}

@media only screen and (min-width: 720px) {
  nav {
    padding: 5px 0 5px 20px;
    border-bottom: solid 0.1px #555 !important;
  }
  #search-go {
    margin-right: 15px !important;
  }

}
