<!-- top search button -->

<div id="top-search-box" class="card-body bg-light">
  <img id="main-logo" class="" src="assets/icons/WebTuitor_logo_final.png" alt="company logo">
  <div class="input-group ">
    <a class="d-none d-lg-block btn btn-xs btn-outline-light mr-4">Learning is a spice of life!</a>
    <input type="text" class="form-control pl-4" placeholder="Search WebTuitor...">
    <span class="input-group-append m">
      <button id="search-go" class="btn btn-danger" type="button">Go!</button>
    </span>
    <a class="nav-lin ml-auto btn btn-xs btn-outline-light" href="">Sign In </a>
  </div>

</div>
<!-- </div> -->

<!-- navigation / menu -->
<nav class="navbar navbar-expand-lg sticky-top navbar-light shadow">
  <a class="navbar-brand img-fluid p-0" href="/"><img width="100" height="40"
      src="assets/icons/WebTuitor_Logo2.png" alt="company log"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a [routerLink]="['/home']" routerLinkActive="Active" class="nav-link mr-4">
        Home</a>
      <div class="dropdown">
        <a href="" [routerLink]="['/how-to']" routerLinkActive="Active" class="nav-link dropdown-toggle"
          data-toggle="dropdown">
          How-To</a><span class="caret"></span>
        <ul class="dropdown-menu">
          <li><a href="#">Design Illustration</a></li>
          <li><a href="#">Code</a></li>
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Computer Skills</a></li>
          <li><a href="#">Microsoft Excel</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <a [routerLink]="['/courses']" routerLinkActive="Active" class="nav-link dropdown-toggle"
          data-toggle="dropdown">Courses </a><span class="caret"></span>
        <ul class="dropdown-menu">
          <li><a href="#">Design Illustration</a></li>
          <li><a href="#">Code</a></li>
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Computer Skills</a></li>
          <li><a href="#">Microsoft Excel</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <a [routerLink]="['/courses']" routerLinkActive="Activ" class="nav-link dropdown-toggle"
          data-toggle="dropdown">eBooks </a><span class="caret"></span>
        <ul class="dropdown-menu">
          <li><a href="#">Design Illustration</a></li>
          <li><a href="#">Code</a></li>
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Computer Skills</a></li>
          <li><a href="#">Microsoft Excel</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <a [routerLink]="['/courses']" routerLinkActive="Activ" class="nav-link dropdown-toggle"
          data-toggle="dropdown">Find A Mentor </a><span class="caret"></span>
        <ul class="dropdown-menu">
          <li><a href="#">Design Illustration</a></li>
          <li><a href="#">Code</a></li>
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Computer Skills</a></li>
          <li><a href="#">Microsoft Excel</a></li>
        </ul>
      </div>
      <a [routerLink]="['/contact']" routerLinkActive="Active" class="nav-link mr-4">
        Contact</a>
    </div>
  </div>
</nav>
<hr class="m-0 p-0">
