<div class="container-fluid min-vh-100">
  <p class="ml-1 mt-3"><a [routerLink]="['/home']">Home</a> > <a [routerLink]="['/learn/courses']">Courses</a> > <a
      [routerLink]="['/learn/course',course?.id]">{{course?.title}}</a></p>

  <div class="row">
    <div class="col-md-3">
      <div class="sidebar sticky-top">

        <!-- Categories Widget -->
        <div class="card my-4 ">
          <h6 class="card-header bg-white">
            Topics
          </h6>
          <div class="card-body px-0">
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-unstyle mb-0">
                  <li class="p-2">
                    <a href="#">Getting started with Getting started with  Getting started with {{course?.title}} </a>
                  </li>
                  <li *ngFor="let lesson of course?.lessons" class="p-2">
                    <a href="#">{{lesson}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Post Content Column -->
    <div class="col-md-6 mb-5">
      <!-- Title -->
      <h1 class="mt-4">{{capitalizeFirstLetter(course?.title)}}</h1>

      <!-- Author -->
      <p class="lead">
        by
        <a href="#">{{course?.createdBy?.name}}</a>
      </p>

      <hr>

      <!-- Date/Time -->
      <p>Posted on {{course?.publishedAt}}</p>

      <hr>

      <!-- Preview Image -->
      <img width="400" class="img-fluid rounded" [src]="course?.imageUrl" alt="image">

      <hr>
      <div [innerHTML]="course?.content">

      </div>

      <hr>
      <ul class="pagination justify-content-center mb-5 mt-5">
        <li class="page-item float-left mr-5">
          <a class="page-link" href="#">&larr; Prev Lesson</a>
        </li>
        <li class="page-item disabled ml-5">
          <a class="page-link float-right" href="#">Next Lesson &rarr;</a>
        </li>
      </ul>
      <hr>

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <div *ngFor="let comment of course?.comments" class="media mb-4">
        <img width="50" class="d-flex mr-3 rounded-circle" [src]="comment?.image" alt="">
        <div class="media-body">
          <h5 class="mt-0">{{comment?.name}}</h5>
          {{comment?.comment}}
          <div *ngFor="let subcomment of comment.subcomments" class="media mt-4">
            <img width="60" class="d-flex mr-3 rounded-circle" [src]="subcomment?.image" alt="">
            <div class="media-body">
              <h5 class="mt-0">{{subcomment?.name}}</h5>
              {{subcomment?.comment}}
            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- Sidebar Widgets Column
      <div class="col-md-4 sd">
        <app-sidebar></app-sidebar>
      </div> -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
