<!-- <blog-navbar></blog-navbar> -->
<!-- Page Content -->
<div class="container-fluid">
  <div class="blog-home">
    <div class="row">
      <div class="col-md-1"></div>
      <!-- Blog Entries Column -->
      <div class="col-md-9 blog-home p-4">
        <p><a [routerLink]="['/home']">Home</a> > <a [routerLink]="['/read/ebooks']">Ebooks</a></p>
        <h3 class="my-4">{{title}}
          <small>blog.WebTuitor</small>
        </h3>

        <!-- Blog Post -->
        <div [routerLink]="['/read/ebooks/',ebook.link]" *ngFor="let ebook of ebooks" class="card mb-4 w-ebook wcard shadow">
          <img  class="card-img-top wcardpic img-fluid" [src]="ebook.img" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{strService.capitalizeFirstLetter(ebook.name)}}</h2>
            <p class="card-text">{{strService.concatString(ebook.description, 100)}}</p>
            <a [routerLink]="['/read/ebooks/',ebook.link]" class="btn btn-outline-info">Read More &rarr;</a>
            <a [routerLink]="['/read/ebooks/',ebook.link]" class="btn btn-outline-info">Add to Cart &rarr;</a>
          </div>
          <!-- <div class="card-footer text-muted">
            Posted on {{ebook.published}} by
            <a href="#">{{ebook.created_by}}</a>
          </div> -->
        </div>



        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-5 mt-5">
          <li class="page-item mr-5">
            <a class="page-link" href="#">&larr; Prev</a>
          </li>
          <li class="page-item disabled ml-5">
            <a class="page-link" href="#">Next &rarr;</a>
          </li>
        </ul>

      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.container -->
