<footer class="py-2 bg-dark sticky-bottom ">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-white">
        <p class="text-white text-center">
          <span><a href="">Privacy Policy</a></span> |
          <span><a href="">Cookies Policy</a></span> |
          <span><a href="">Site Map</a></span>
        </p>
      </div>
      <div class="col-md 6">

      </div>
    </div>
    <p class="m-0 text-center text-white">{{copyRightText}}</p>
  </div>
  <!-- /.container -->
</footer>
