<div class=" home text-whie pb-5">
  <div class="container ">
    <div class="row ">
      <div class="col-md-6 d-flex p-lg-5 p-sm-3 justify-content-center bg-light flex-column">
        <h4 class="notice border mt-4 shadow">Hi there, WebTuitor makes it easy!
          <br><br>
          Learn by doing
          <br>
          <a href="home#howto"><button class="btn btn-md btn-outline-dark mt-3">Get Started!</button></a>
        </h4>
        <img class="postion-fixed demo-img d-lg-none d-sm-block mb-4"
          src="../../assets/img/undraw_pair_programming_njlp.svg" alt="">
        <details closed>
          <summary class="mt-3">How it works</summary>
        </details>
        <h3>We are here for you</h3>
        <a href="home#howto"><button class="btn btn-sm btn-outline-dark">Get Started!</button></a>
      </div>
      <div class="col-md-6">
        <img class="postion-fixed demo-img d-none d-lg-block" src="../../assets/img/undraw_pair_programming_njlp.svg"
          alt="">
      </div>
    </div>
  </div>
  <div id="howto" class="container mb-5">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs mt-5">
          <li class="nav-item">
            <a class="nav-link active" href="/home#howto">Popular How-Tos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home#new-courses">Popular Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home#ebook">eBooks</a>
          </li>
        </ul>
        <howto-tab></howto-tab>
        <a [routerLink]="['/quick/howtos']" class="float-right view-link">View all How-Tos</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mt-3">
        <img class="demo-img2" src="../../assets/img/undraw_working_remotely_jh40 (1).svg" alt="">
      </div>
      <div class="col-md-8">
        <div class="contentAds">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          corrupti odio, reiciendis natus minima voluptas perspiciatis unde pariatur corporis excepturi asperiores
          perferendis!
        </div>
      </div>
    </div>
  </div>
  <div id="new-courses" class="container min-vh-100">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs mt-5">
          <li class="nav-item">
            <a class="nav-link" href="/home#howto">Popular How-Tos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/home#new-courses">Popular Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home#ebook"> eBooks</a>
          </li>
        </ul>
        <course-tab></course-tab>
        <a [routerLink]="['/learn/courses']" class="float-right view-link">View all Courses</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img class="demo-img2" src="../../assets/img/undraw_laravel_and_vue_59tp.svg" alt="">
      </div>
      <div class="col-md-8">
        <div class="contentAds">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          corrupti odio, reiciendis natus minima voluptas perspiciatis unde pariatur corporis excepturi asperiores
          perferendis!
        </div>
      </div>
    </div>
  </div>

  <div id="ebook" class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs mt-5">
          <li class="nav-item">
            <a class="nav-link" href="/home#howto">Popular How-Tos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/home#new-courses">Popular Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active px-4" href="/home#ebook"> eBooks</a>
          </li>
        </ul>
        <ebook-tab></ebook-tab>
        <a [routerLink]="['/read/ebooks']" class="float-right view-link">View all eBooks</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img class="demo-img2" src="../../assets/img/undraw_reading_time_gvg0.svg" alt="">
      </div>
      <div class="col-md-8">
        <div class="contentAds">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          corrupti odio, reiciendis natus minima voluptas perspiciatis unde pariatur corporis excepturi asperiores
          perferendis!
        </div>
      </div>
    </div>
  </div>
  
  
