<div class=" home text-whie pb-5">
  <div class="container">
    <div class="row ">
      <div class="col-md-6 d-flex justify-content-center bg-light flex-column">
        <h4 class="notice border mt-4 shadow">Hi there, WebTuitor makes it easy!
          <br><br>
          Learn by doing
          <br>
          <a href=""><button class="btn btn-sm btn-outline-dark">Get Started!</button></a>
        </h4>
        <img class="postion-fixed demo-img d-lg-none d-sm-block mb-4" src="../../assets/img/undraw_pair_programming_njlp.svg" alt="">
        <details open>
          <summary>How it works</summary>
          <div class="guide">
            <h3 class="px-5" id="howitworks">How it works</h3>
            <ul class="" id="list">
              <li>Click here to book your name on calendar</li>
              <li>Our team will contact you to confirm appointment</li>
              <li>We assign a tutor to you</li>
              <li>You pay our hourly service</li>
              <li>Pay us $5 per every per hour spent with you</li>
            </ul>
          </div>
        </details>
        <h3>We are here for you</h3>
        <a href=""><button class="btn btn-sm btn-outline-dark">Get Started!</button></a>
      </div>
      <div class="col-md-6">
        <img class="postion-fixed demo-img d-none d-lg-block" src="../../assets/img/undraw_pair_programming_njlp.svg" alt="">
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-8">kjk</div>
      <div class="col-md-4">
        <img class="demo-img2" src="../../assets/img/undraw_coding_6mjf.svg" alt="">
      </div>
    </div>
  </div>
