@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100&display=swap');

html {
    height: 100%;
}

#top-search-box {
    display: none!important;
}
.home {
    background: rgba(250, 250, 250, 0.8); 
    background-repeat: no-repeat;
}

.register {
    background: rgba(199, 61, 61, 0.8) url('../../assets/img/undraw_Relaxing_at_home_re_mror.svg') top right; 
    background-repeat: no-repeat;
}


.about {
    background: rgba(199, 61, 61, 0.7) url('../../assets/img/undraw_Freelancer_re_irh4.svg') top left;
    background-repeat: no-repeat;

    min-height: 100vh !important;
}

.about .container h4 {
    padding-top: 15%;
}

.reg-notice {
  padding: 0 15px;
  padding-top: 60px;
  margin-left: 20px;
  color: #f8f2f2;
}

.notice {
    padding: 20px 15px;
    text-align: justify;
    font-weight: 400;
    background:  #f8f2f2;
}

.notice span {
    margin-top: 10px;
    padding: 10px;
    display: block;
    background: rgba(199, 61, 61, 0.6) ;
}

h1,h2,h3 {
    font-family: 'Grandstander', cursive;
}

.bookme {
    width: 150px;
    background:  rgba(108, 99, 255, 0.3)!important;
    border: 1px solid rgba(108, 99, 255, 0.9)!important ;
}

.bookme:hover {
    background:  rgba(108, 99, 255, 0.8)!important;
    width: 160px;
}

.guide {
    padding: 25px 10px;
    margin-bottom: 10%;
    /* border: solid rgba(216, 210, 210, 0.8); */
    background:  rgba(216, 210, 210, 0.2) ;
    border-radius: 5px;
}

#howitworks {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
    /* margin-top: 100px; */
}

#list li {
    margin: 15px;
}

iframe {
    opacity: 0.8;
}

@media only screen and (min-width: 720px) {
    
    .home {
        /* background: rgba(255, 255, 255, 0.99) url('../../assets/img/undraw_dev_productivity_umsq.svg') right bottom;  */
    }
    .register {
        background: rgba(199, 61, 61, 0.8) url('../../assets/img/undraw_Relaxing_at_home_re_mror.svg') top right; 
    }

    .home, .register {
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .reg-notice {
        padding: 0 15px;
        margin-left: 10%;
        color: #f8f2f2;
      }
      
    #top-search-box {
        display: none;
    }

    /* #row2 {
        /* background: #fff url('../../assets/img/undraw_coding_6mjf.svg') 100% 70%;
        background-repeat: no-repeat; */
    /* } */ 
}
/* 
footer {
    position: fixed !important;
    width: 100% !important;
    bottom: 0;
} */